<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="magym.feature.service">
	
	<application>
		
		<service
			android:name=".AudioService"
			android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON"/>
			</intent-filter>
		</service>
		
		<receiver android:name="androidx.media.session.MediaButtonReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON"/>
			</intent-filter>
		</receiver>
	
	</application>

</manifest>